<h1>Welcome, <%= @user.name%>!</h1>

<%= render '/shared/messages' %>

<p>My Stuff</p>

# show items you own 

<p>Stuff I Borrowed</p>

<P>Wishlist</p>

<%= link_to "User Settings", settings_path(@user) %>