<% if @user.current_loans != [] %>
  <ul class = "items">
    <% @user.current_loans.each do |loan| %>
      <li class = "item">
        <img class = "image" img src= "<%= loan.item.image %>", alt="<%= loan.item.name %>">
        <br>
        <%= link_to loan.item.name, item_path(loan.item) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Not currently borrowing anything.</p>
<% end %>
