
<% if @user.current_loans != [] %>
  <ul >
    <% @user.current_loans.each do |loan| %>
    <li class = "items">
      <img src= "<%= loan.item.image %>", alt="<%= loan.item.name %>">
      <br>
      <%= link_to loan.item.name, item_path(loan.item) %>

    </li>
    <br>
    <% end %>
  </ul>
<% else %>
  <p>Not currently borrowing anything.</p>
<% end %>
