<% if @user.items != [] %>
  <ul class = "items">
    <% @user.items.each do |item| %>
      <li class ="item">
        <%= link_to image_tag(item.image, class: "image"), item_path(item) %>
        <br>
        <%= link_to item.name, item_path(item) %>
        <br>
        <% if item.current_loan %>
          <% loan = Loan.find(item.current_loan) %>
          Item currently loaned out to: <%= link_to loan.borrower.name, user_path(loan.borrower)%>
          <br>
          Expected duedate: <%= loan.duedate %>
        <% else %>
          <br>
          <br>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p> No items available </p>
<% end %>
