<% if @user.items != [] %>
  <ul class = "items">
    <% @user.items.each do |item| %>
      <li class ="item">
        <%= link_to image_tag(item.image, class: "image"), item_path(item) %>
        <br>
        <%= link_to item.name.capitalize, item_path(item) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p> No items available </p>
<% end %>
