<% if @user.past_loans != [] %>
  <ul class = "items">
    <% @user.past_loans.each do |loan| %>
      <li class="item">
        <%= link_to image_tag(loan.item.image, class: "image"), item_path(loan.item) %>
        <br>
        <%= link_to loan.item.name.capitalize, item_path(loan.item) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You haven't borrowed anything yet.</p>
<% end %>
