<% if @user.past_loans != [] %>
  <ul class = "items">
    <% @user.past_loans.each do |loan| %>
      <li class="item">
        <%= link_to image_tag(loan.item.image, class: "image"), item_path(loan.item) %>
        <br>
        <%= link_to loan.item.name, item_path(loan.item) %>
        <br>
        Returned On: <%= loan.updated_at %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p><%= @user.name%> hasn't borrowed anything yet.</p>
<% end %>
