<% if @user.past_loans != [] %>
  <ul class = "items">
    <% @user.past_loans.each do |loan| %>
      <li class="item">
        <img class = "image" img src= "<%= loan.item.image %>", alt="<%= loan.item.name %>">
        <%= link_to loan.item.name, item_path(loan.item) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have never borrowed anything.</p>
<% end %>
