<% if !@user.wishlist_items.empty? %>
  <ul class = "items">
    <% @user.wishlist_items.each do |wishlist_item| %>
      <li class = "item">
        <%= link_to image_tag(wishlist_item.image, class: "image"), item_path(wishlist_item) %>
        <br>
        <%= link_to wishlist_item.name.capitalize, wishlist_item_path(wishlist_item) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p> No items on your wishlist.</p>
<% end %>
