

<h1> <%= @wishlist_item.name %> </h1>

<img class = "image" img src= "<%= @wishlist_item.image %>">

<h2>On <%= @wishlist_item.user.name %>'s Wishlist</h2>

<p><%= @wishlist_item.description %> </p>

<!-- item history, current loans, picture if implemented >
