<h2> <%= @wishlist_item.name %> </h2>

<img class = "image" img src= "<%= @wishlist_item.image %>">

<h3>On <%= @wishlist_item.user.name %>'s Wishlist</h3>

<p><%= @wishlist_item.description %> </p>


