<h1>All Items</h1>

<ul class= "items">
    <% @items.each do |item| %>
        <li class= "item">
          <%= link_to image_tag(item.image, class: "image"), item_path(item) %>
          <br>
          <%= link_to item.name, item_path(item) %>
          <br>
          Belongs to: <%= item.user.name %>
        </li>
    <% end %>
</ul>
