<h1>All Items</h1>

<ul>
    <% @items.each do |item| %>
        <li>
          <img class = "image" img src= "<%= item.image %>">
          <%= link_to item.name.capitalize, item_path(item) %>
        </li>
    <% end %>
</ul>
